.component-header {
	height: 50px;
	.header-abs {
		margin-top: 50px;
		display: flex;
		justify-content: flex-end;
		text-align: center;
		.logo {
		};
		.nav {
			color:#fff;
			.nav-item {
				display: inline-block;
				width: 102px;
			}
		};
		.nav-text-zh {
			margin-top: 10px;
			display: block;
		}
		.nav-text-en {
			margin-top: 10px;
			font-family: verdana;
			display: block;
			font-size: 12px;
		}		
		.sign {
			display: flex;
			.sign-link {
				flex:auto;
				width: 102px;
				height: 55px; 
				letter-spacing: 2px;
				color: #fff;
			}
			.sign-up {
				color: #000;
				background-color: #fff217;				
			}
		};
		.user {	
		}

	}
}