@import './base/base.less';
@import './base/normalize.less';
/*
	Level Grade
	base < farely < special
*/
@baseColor:#f8f8f8;
@farelyColor:#f4f3f3;
@MainColor:#1589fc;
@FontColor:#333;
@ButtonDefaultColor:#ddd;
@ButtonActiveColor:@MainColor;

body {
	background: @baseColor;
}